<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>DE.Portfolio</title>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap" rel="stylesheet">
  </head>

  <body>
    <!--
    <nav class="navbar navbar-expand-lg navbar-light nav__font r__font">
      <a class="navbar-brand">DE.Portfolio</a>
    </nav>
    -->
    <div class="hero__banner"> 
      <div class="container__content">

        <div data-aos="fade-right" data-aos-delay="50">
          <span class="r__font title__font">Hello there!</span>
        </div>

        <div style="margin-top: 0.5vh;" data-aos="fade-left" data-aos-delay="200">
          <span class="r__font body__font">I'm Darren, and I aspire to be great.</span>
        </div>

        <div style="margin-top: 2vh;">
          <a href="https://github.com/deam65">
            <div data-aos="fade-right" style="float: left; color: white; font-size: 3vw;">
              <ion-icon name="logo-github"></ion-icon>
            </div>
          </a>
  
          <a href="https://www.linkedin.com/in/darren-eam/">
            <div data-aos="fade-right" style="float: left; color: white; font-size: 3vw;">
              <ion-icon name="logo-linkedin"></ion-icon>
            </div>
          </a>
  
          <a href="https://docs.google.com/document/d/1KpL6wbThd51Z0pCNwrNxefeJRdWdgrChpUrfMBPiMds/edit?usp=sharing">
            <div data-aos="fade-right" style="float: left; color: white; font-size: 3vw;">
              <ion-icon name="paper"></ion-icon>
            </div>
          </a>
        </div>
        

      </div>
    </div>

    <div class="page__container">
      <div class="container__content">
        <div style="text-align: right" data-aos="fade-left">
          <span class="r__font body__font"><u>About me</u></span>
        </div>

        <div class="container__content" data-aos="fade-left" data-aos-delay="200">
          <!--insert schpiel about myself, my passions, etc-->
          <span class="r__font body2__font">Currently, I'm a Senior majoring in Computer Science at the UCSC. Throughout my years in college, the biggest takeaway was that I should never stop learning. </span> <br> <br>
          <span class="r__font body2__font">Though a lot of my time is spent working on school-related assignments and leading tutoring sessions, I try to balance it out with learning how to DJ and improving my bass guitar skills. </span>
        </div>
      </div>
    </div>

    <div data-aos="fade-in">
      <hr>
    </div>

    <div class="page__container">
      <div class="container__content">
        
        <div style="text-align: right" data-aos="fade-left">
            <span class="r__font body__font"><u>Some projects I've worked on</u></span>
        </div>

        <br> <br>

        <div data-aos="fade-right" data-aos-delay="100">
          <span class="r__font body__font" style="color: red;">Fitrak:</span>
          <br> <br>
          <span class="r__font body2__font">a fitness application that was designed to help clients connect with trainers in their area.</span>
          <br> <br> <br>
          <div style="text-align: right;">
            <span class="r__font body2__font">[Technologies used: Ruby on Rails, HTML/CSS, Javascript, Firebase Realtime, Android Studio]</span>
          </div>
          <br> <hr> <br>
        </div>

        <div data-aos="fade-right" data-aos-delay="150">
          <span class="r__font body__font" style="color: green;">Stock Watchlist:</span>
          <br> <br>
          <span class="r__font body2__font">a web app that allows users to stay updated with stocks of their choice, in realtime</span>
          <br> <br> <br>
          <div style="text-align: right;">
            <span class="r__font body2__font">[Technologies used: Vue.JS, HTML/CSS, Javascript, Firebase Realtime, Axios]</span>
          </div>
          <br> <hr> <br>
        </div>

        <div data-aos="fade-right" data-aos-delay="150">
          <span class="r__font body__font" style="color: yellow;">Sluglife website:</span>
          <br> <br>
          <span class="r__font body2__font">a web app to publicize a student-ran organization, specializing in slug-based apparel and campus diversity</span>
          <br> <br> <br>
          <div style="text-align: right;">
            <span class="r__font body2__font">[Technologies used: Vue.JS, HTML/CSS, Javascript, Firebase Realtime, Axios]</span>
          </div>
          <br> <hr> <br>
        </div>

        <div data-aos="fade-right" data-aos-delay="200">
          <span class="r__font body__font" style="color: purple;">Personal Portfolio:</span>
          <br> <br>
          <span class="r__font body2__font">this website</span>
          <br> <br> <br>
          <div style="text-align: right;">
            <span class="r__font body2__font">[Technologies used: Ruby on Rails, HTML/CSS, Javascript]</span>
          </div>
        </div>

      </div>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>

  </body>
</html>

